.profile__change-avatar-button{
    background-image: url(../../../images/profile-cousteau-hover.svg); 
    background-position: center;
    background-repeat: no-repeat;
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
}