.profile__add-button{
    min-width: 150px;
    min-height: 50px;
    box-sizing: border-box;
    background: url(../../../images/profile-add-button.svg) no-repeat center #000;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s linear;
}


@media screen and (max-width: 650px){
    .profile__add-button {
        min-width: 282px;
        padding: 17px 132px 17px 134px;
        margin-top: 36px; 
    }
}

.profile__add-button:hover{
    opacity: 0.6; 
}
